/* Outer container and background */
.Site {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

/* Middle content section, add width constraints here */
.Page {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  max-width: 768px; /** bootstrap lg boundary */
  position: relative;
}

.Logo {
  margin: 20px 0 0 0;
  flex-grow: 0;
}

/* Navigation bar outer container */
.NavBar.navbar {
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 0;
}

/* Navigation bar inner elements, allows for custom alignment/layout */
.NavBarContents.container-fluid {
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  /*border: 1px red solid;*/
}

/* Navbar branding text */
.NavBarBrand {

}

/* Navbar dropdown button */
.navbar .navbar-toggler {
  border-color: white;
  margin-bottom: 10px;
  margin-left: 10px;
}

/* Navbar dropdown submenus */
.navbar .dropdown-menu {

}

/* Active page in dropdowns */
a.dropdown-item.active {

}

/* Navbar dropdown hover */
.navbar .dropdown-item:hover {

}

.dropdown.AddPageButton {
  margin: 10px;
}

/* Navbar navigation links */
.navbar .navbar-nav .nav-link {
  font-size: 16pt;
  text-shadow: 1px 1px 1px #000;
  color: #bbddff;
  margin: 0 5px;
  white-space: nowrap;
}

/* Navbar current page in navigation links */
.navbar .navbar-brand.active,
.navbar .navbar-nav .nav-link.active,
.navbar .navbar-nav .nav-link.show {
  color: white;
}

/* Navbar link hover */
a.NavLink.nav-link:hover {
  color: white;
}

div.AddPageButton {
  position: absolute;
  right: -30px;
}

/* Page content container, use flex:1 to fill page height */
div.PageContent {
  background-color: white;
  flex-grow: 1;
  border-radius: 20px;
  box-shadow: 2px 2px 8px #00000044;
  padding: 30px;
  font-size: 13pt;
}

/* Main title */
h1.PageTitle {
  color: #407cbf;
  font-size: 20pt;
  margin-bottom: 10px;
  text-align: center;
}

/* Subheads */
h2.SectionTitle {
  font-size: 16pt;
  color: #407cbf;
}

.PageSection {
  margin-bottom: 20px;
}

.SectionText {
  line-height: 180%;
}

.PageContent a,
.PageContent a:active,
.PageContent a:visited {
  color: #407cbf;
  text-decoration: none;
}

.PageContent a:hover {
  color: #407cbf;
  text-decoration: underline;
}

/* Uncontained list items need margin correction */
li {
  margin-left: -10px;
}

/* Text content */
div.SectionText {

}

/* Copyright notice */
.Copyright {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
  color: #b0d0f3;
  line-height: 120%;
  flex-grow: 0;
}

/* page nav */
.PageNavigation {
  width: 100%;
  margin-top: 10px;
  font-size: 14pt;
  flex-grow: 0;
}

.PageNavigation a {
  color: #b0d0f3;
  text-decoration: none;
  text-shadow: black 1px 1px;
}

.PageNavigation a:hover {
  color: white;
}

/* up to bootstrap md width */
@media (max-width: 768px) {
  div.PageContent {
    border-radius: 0;
    padding: 15px;
  }
}

/* bootstrap xs width */
@media (max-width: 575px) {

  div.PageContent {
    padding: 15px;
  }

  .NavBarContents.container-fluid {
    width: 100vw;
  }

  .navbar .navbar-nav .nav-link {
    margin-left: 5px;
    font-size: 14pt;
    padding: 5px;
  }

  div.AddPageButton {
    position: absolute;
    left: 35%;
    bottom: 0;
  }

  /* Main title */
  h1.PageTitle {
    font-size: 16pt;
    margin-bottom: 10px;
  }

  div.PageContent {
    font-size: 11pt;
  }

  .PageNavigation {
    font-size: 12pt;
  }

  .Copyright {
    font-size: 10pt;
    margin: 5px 0 15px 0;
  }

  div.SectionText {
    line-height: 150%;
  }
}


/* bootstrap sm width */
@media (min-width: 576px) {
  div.PageContent,
  .PageNavigation {
    font-size: 13pt;
  }
  .Copyright {
    font-size: 11pt;
    margin: 5px 0 20px 0;
  }
}

/* bootstrap md width */
@media (min-width: 768px) {
  /* Navbar navigation links */
  .navbar .navbar-nav .nav-link {
    font-size: 18pt;
  }

  div.PageContent,
  .PageNavigation {
    font-size: 14pt;
  }

}

/* bootstrap lg width */
@media (min-width: 960px) {

}

/* bootstrap xl width */
@media (min-width: 1140px) {

}