html {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
}

body {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  background: linear-gradient( to bottom, #407cbf, #326298);
}

#root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex:1;
  background-image: url('./assets/wave.png');
  background-repeat: repeat-x;
}